<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <img [src]="employee.photo" alt="Photo Profile" />
      <h2>{{ employee.lastname }}, {{ employee.name }}</h2>
      <h4>
        <mat-icon>email</mat-icon>
        {{ employee.email }}
      </h4>
      <h5><mat-icon>perm_phone_msg</mat-icon>{{ employee.phone }}</h5>
      <h5><mat-icon>event</mat-icon>{{ employee.birthdate | date }}</h5>
      <h5></h5>
      <h5><mat-icon>euro_symbol</mat-icon>{{ employee.salary }}</h5>
      <h5>
        <mat-icon>works</mat-icon><a href="">{{ employee.fk_departament }}</a>
      </h5>
      <h5><mat-icon>fingerprint</mat-icon> {{ employee.id }}</h5>
    </div>
  </div>
  <mat-divider></mat-divider>

  <h2 matSubheadere>JS</h2>

  <a mat-list-item routerLink="/" routerLinkActive="list-item-active"
    >Dashboard</a
  >
  <a mat-list-item routerLink="/activity" routerLinkActive="list-item-active"
    >Activity</a
  >

  <a mat-list-item routerLink="/product" routerLinkActive="list-item-active"
    >Products</a
  >
  <a mat-list-item routerLink="/order" routerLinkActive="list-item-active"
    ><span style="color: rgb(85, 131, 218);">New</span> Orders</a
  >

  <a mat-list-item routerLink="/customer" routerLinkActive="list-item-active"
    >Customers</a
  >
  <a mat-list-item routerLink="/supplier" routerLinkActive="list-item-active"
    >Suppliers</a
  >
  <a mat-list-item routerLink="/region" routerLinkActive="list-item-active"
    >LogsJS</a
  >
  <mat-divider></mat-divider>

  <h2 matSubHeader>Debugs</h2>

  <a mat-list-item routerLink="/people" routerLinkActive="list-item-active"
    ><mat-icon>_contacts_</mat-icon>_Colegas</a
  >

  <a mat-list-item routerLink="/help" routerLinkActive="list-item-active"
    ><mat-icon>imports</mat-icon>_Help</a
  >
</mat-nav-list>
