<mat-horizontal-stepper linear>
  <mat-step label="Make Order" completed="">
    <div class="all">
      <div class="formulario ">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <mat-label>Select an Customer</mat-label>
              <mat-select formControlName="fk_customer">
                <div *ngFor="let option of arrCustomers" v>
                  <mat-option value="{{ option.id }}">{{
                    option.name
                  }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field color="accent" appearance="standard" completed="">
              <mat-label class="mat-label">Required Date</mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="1900-01-01"
                formControlName="requiredate"
              />
              <mat-icon matSuffix>event</mat-icon>
              <mat-hint class="mat-hint">date</mat-hint>
            </mat-form-field>
          </p>
          <!-- <p>
            <mat-form-field class="example-full-width">
              <mat-label>Required Date</mat-label>
              <input matInput  formControlName="requiredate" [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker touchUi #picker></mat-datepicker>
            </mat-form-field>
          </p> -->
          <p>
            <mat-form-field
              color="accent"
              appearance="standard"
              completed3="false"
            >
              <mat-label class="mat-label">Address</mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Address"
                formControlName="address"
              />
              <mat-icon matSuffix>business</mat-icon>
              <mat-hint class="mat-hint">Address</mat-hint>
            </mat-form-field>
          </p>

          <button
            mat-raised-button
            color="accent"
            matBadgePosition="before"
            matBadgeColor="accent"
            type="submit"
            mat-stroked-button
          >
            Done
          </button>
        </form>
      </div>
    </div>

    <div>
      <button mat-raised-button color="basic" matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step label="Make Order-Details">
    <div class="all">
      <div class="formulario ">
        <form [formGroup]="orderDeteilsForm" (ngSubmit)="onSubmitD()">
          <p>
            <mat-form-field>
              <mat-label>Select an Product</mat-label>
              <mat-select formControlName="fk_product">
                <div *ngFor="let option of arrProducts" v>
                  <mat-option value="{{ option.id }}">{{
                    option.name
                  }}</mat-option>
                </div>
              </mat-select>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field
              color="accent"
              appearance="standard"
              completed2="false"
            >
              <mat-label class="mat-label">Quantity</mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Quantity"
                formControlName="quantity"
              />
              <mat-icon matSuffix>view_module</mat-icon>
              <mat-hint class="mat-hint">Quantity</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field
              color="accent"
              appearance="standard"
              completed3="false"
            >
              <mat-label class="mat-label">Discount</mat-label>
              <input
                autocomplete="off"
                matInput
                placeholder="Discunt"
                formControlName="discunt"
              />
              <mat-icon matSuffix>get_app</mat-icon>
              <mat-hint class="mat-hint">discount</mat-hint>
            </mat-form-field>
          </p>

          <button
            mat-raised-button
            color="accent"
            matBadgePosition="before"
            matBadgeColor="accent"
            type="submit"
            mat-stroked-button
          >
            Done
          </button>
        </form>
      </div>
    </div>

    <div>
      <button mat-raised-button color="basic" matStepperPrevious>Back</button>
    </div>
  </mat-step>
  <mat-step label="Done" completed="false">
    <div>
      <div class="center">
        <h4>Comunicate this to JS.io</h4>
      </div>
      <app-widget-blog-form></app-widget-blog-form>
    </div>
    <div>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel
          [expanded]="step === 0"
          (opened)="setStep(0)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personal Data
            </mat-panel-title>
            <mat-panel-description>
              Employee
              <mat-icon>account_circle</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style="display: flex; justify-content: space-between;">
            <p>
              Ordrer No
              <span style="color: rgb(2, 3, 2);">{{ orderDone.id }} </span>
            </p>
            <p>
              Customer No.
              <span style="color: rgb(2, 3, 2);">{{
                orderDone.fk_customer
              }}</span>
            </p>
            <p>
              Employe Id:
              <span style="color: rgb(2, 3, 2);">{{
                orderDone.fk_employee
              }}</span>
            </p>
            <p>
              Employe Name:
              <span style="color: rgb(2, 3, 2);">{{ employee.name }}</span>
            </p>
          </div>

          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel
          [expanded]="step === 1"
          (opened)="setStep(1)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Order Info
            </mat-panel-title>
            <mat-panel-description>
              Type the country name
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style="display: flex; justify-content: space-between;">
            <p>
              Product Id | Qty:
              <span style="color: rgb(2, 3, 2);">{{
                orderDetailsDone.fk_product
              }}</span>
              |
              <span style="color: rgb(2, 3, 2);">{{
                orderDetailsDone.quantity
              }}</span
              >Units
            </p>
            <p>
              Discount %.
              <span style="color: rgb(2, 3, 2);">{{
                orderDetailsDone.discunt
              }}</span>
            </p>
            <p>
              Customer Address:
              <span style="color: rgb(2, 3, 2);">{{ orderDone.address }}</span>
            </p>
          </div>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">
              Previous
            </button>
            <button mat-button color="primary" (click)="nextStep()">
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel
          [expanded]="step === 2"
          (opened)="setStep(2)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Order Date
            </mat-panel-title>
            <mat-panel-description>
              Inform the date
              <mat-icon>date_range</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style="display: flex; justify-content: space-between;">
            <p>
              Ordrer Date:
              <span style="color: rgb(10, 190, 10);">{{
                orderDone.orderdate | date
              }}</span>
            </p>
            <p>
              Required Date:
              <span style="color: rgb(141, 9, 9);">{{
                orderDone.requiredate | date
              }}</span>
            </p>
          </div>
          <mat-datepicker #picker></mat-datepicker>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">
              Previous
            </button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div>
      <button mat-raised-button color="basic" matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<mat-form-field style="visibility: hidden;">
  <mat-label>Snack bar duration (seconds)</mat-label>
  <input type="number" [(ngModel)]="durationInSeconds" matInput />
</mat-form-field>
