table {
  width: 100%;
}
button {
  margin: 16px 8px;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 450px;
}
.all {
  display: flex;
  justify-content: center;
}
.form {
  display: flex;
}
.mat-form-field {
  margin-right: 8px;
}

.h4 {
  text-align: center;
}
.mat-form-field {
  margin-right: 8px;
}
.mat-form-field-infix {
  width: 450px;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
