<div>
  <app-widget-area [data]="bigChart"></app-widget-area>
</div>
<br />
<mat-divider></mat-divider>
<br />
<div
  fxLayout="row"
  fxLayoutAlign="space-berween center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <mat-card fxFlex="50">
    <app-widget-cards
      label="Orders"
      total="{{ arrOrders.length }}"
      percentage="{{ arrOrders.length / 2 }}"
      [data]="cards"
    ></app-widget-cards>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-cards
      label="Suppliers"
      total="{{ arrSuppliers.length }}"
      percentage="{{ arrSuppliers.length / 2 }}"
      [data]="cards"
    ></app-widget-cards>
  </mat-card>
  <mat-card fxFlex="25">
    <app-widget-cards
      label="Customers"
      total="{{ arrCustomers.length }}"
      percentage="{{ arrCustomers.length / 2 }}"
      [data]="cards"
    ></app-widget-cards>
  </mat-card>
</div>

<br />

<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-berween center" fxLayoutGap="20px">
  <div fxFlex="60">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="fk_employee">
          <th mat-header-cell *matHeaderCellDef>Employee</th>
          <td mat-cell *matCellDef="let element">
            <a href="">{{ element.fk_employee }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="fk_customer">
          <th mat-header-cell *matHeaderCellDef>Customer</th>
          <td mat-cell *matCellDef="let element">
            <a href="">{{ element.fk_customer }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="orderdate">
          <th mat-header-cell *matHeaderCellDef>Order Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.orderdate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="requiredate">
          <th mat-header-cell *matHeaderCellDef>Require Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.requiredate | date }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <div fxFlex="40">
    <app-widget-pie [data]="pieChart"></app-widget-pie>
  </div>
</div>
