<mat-nav-list>
  <a mat-list-item (click)="openLink(1)" value="1" id="5">
    <span mat-line style="color: rgb(131, 131, 131); text-align: center;"
      >South Africa</span
    >
  </a>
  <a mat-list-item (click)="openLink(2)" id="4">
    <span
      mat-line
      style="color: rgba(128, 128, 128, 0.788); text-align: center;"
      >West Africa</span
    >
  </a>

  <a mat-list-item (click)="openLink(3)" id="3">
    <span
      mat-line
      style="color: rgba(197, 228, 248, 0.781); text-align: center;"
      >Middle East</span
    >
  </a>

  <a mat-list-item (click)="openLink(4)" id="2">
    <span mat-line style="color: rgb(175, 248, 226); text-align: center;"
      >India</span
    >
  </a>
  <a mat-list-item (click)="openLink(5)" id="1">
    <span mat-line style="color: rgb(129, 199, 0); text-align: center;"
      >China</span
    >
  </a>
  <a mat-list-item (click)="openLink(6)" id="5">
    <span mat-line style="color: rgb(105, 21, 201); text-align: center;"
      >Eastern Asia</span
    >
  </a>
  <a mat-list-item (click)="openLink(7)" id="4">
    <span mat-line style="color: rgba(233, 85, 0, 0.788); text-align: center;"
      >Australia</span
    >
  </a>

  <a mat-list-item (click)="openLink(8)" id="3">
    <span
      mat-line
      style="color: rgba(193, 199, 202, 0.781); text-align: center;"
      >New Zeealand</span
    >
  </a>

  <a mat-list-item (click)="openLink(9)" id="2">
    <span mat-line style="color: rgb(75, 42, 224); text-align: center;"
      >Pacific</span
    >
  </a>
  <a mat-list-item (click)="openLink(10)" id="1">
    <span mat-line style="color: rgb(0, 211, 95); text-align: center;">UK</span>
  </a>
  <a mat-list-item (click)="openLink(11)" id="5">
    <span mat-line style="color: black; text-align: center;"
      >Western Europe</span
    >
  </a>
  <a mat-list-item (click)="openLink(12)" id="4">
    <span mat-line style="color: rgba(230, 230, 17, 0.788); text-align: center;"
      >Eastern Europe</span
    >
  </a>

  <a mat-list-item (click)="openLink(13)" id="3">
    <span mat-line style="color: rgba(0, 145, 241, 0.781); text-align: center;"
      >South of Europe</span
    >
  </a>

  <a mat-list-item (click)="openLink(14)" id="2">
    <span mat-line style="color: rgb(179, 0, 164); text-align: center;"
      >Rusia</span
    >
  </a>
  <a mat-list-item (click)="openLink(15)" id="1">
    <span mat-line style="color: rgb(0, 34, 146); text-align: center;"
      >USA</span
    >
  </a>
  <a mat-list-item (click)="openLink(16)" id="1">
    <span mat-line style="color: rgb(39, 196, 0); text-align: center;"
      >Canada</span
    >
  </a>
  <a mat-list-item (click)="openLink(17)" id="1">
    <span mat-line style="color: rgb(160, 0, 0); text-align: center;"
      >Central America</span
    >
  </a>
  <a mat-list-item (click)="openLink(18)" id="1">
    <span mat-line style="color: rgb(226, 0, 0); text-align: center;"
      >South America</span
    >
  </a>
</mat-nav-list>
