<div class="form">
  <ul class="tab-group">
    <li class="tab active">
      <a (click)="handelClickAll($event)">signup</a>
    </li>
    <li class="tab">
      <a (click)="handelClick($event)">signin</a>
    </li>
  </ul>

  <div id="signup">
    <h1>JS.io Crew</h1>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="top-row">
        <div class="field-wrap">
          <label>Code<span class="req">*</span> </label>
          <input
            type="text"
            required
            autocomplete="off"
            formControlName="employeeNum"
          />
        </div>
      </div>

      <div class="field-wrap">
        <label>&nbsp; &nbsp; &nbsp;Email<span class="req">*</span> </label>
        <input
          type="email"
          required
          autocomplete="off"
          formControlName="email"
        />
      </div>
      <div class="field-wrap">
        <label>&nbsp; &nbsp; &nbsp;Password<span class="req">*</span> </label>
        <input
          type="password"
          required
          autocomplete
          formControlName="password"
        />
      </div>
      <button type="submit" class="button button-block">Get Started</button>
    </form>
  </div>
</div>

<ul class="errors">
  <li>
    {{ errors }}
  </li>
  <li>
    {{ errorsStatus }}
  </li>
</ul>
