<mat-tab-group>
  <mat-tab label="First">
    {{ arrCustomers | json }}
  </mat-tab>
  <mat-tab label="Second"
    ><img
      src="https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg"
      alt=""
    />
  </mat-tab>
  <mat-tab label="Third">
    <img
      src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
      alt=""
    />
  </mat-tab>

  <mat-tab label="Third">
    <app-widget-maps></app-widget-maps>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="openBottomSheet()">
      Select Region
    </button>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <button mat-raised-button (click)="openBottomSheet2()">
      Select Territorie
    </button>
    <mat-divider></mat-divider>
  </mat-tab>
  <mat-divider></mat-divider>
</mat-tab-group>
