<mat-tab-group>
  <mat-tab label="First">
    {{ arrCustomers | json }}
  </mat-tab>
  <mat-tab label="Second"
    ><img
      src="https://image.shutterstock.com/image-photo/colorful-flower-on-dark-tropical-260nw-721703848.jpg"
      alt=""
    />
  </mat-tab>
  <mat-tab label="Third">
    <img
      src="https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg"
      alt=""
    />
  </mat-tab>
  <mat-tab label="First">
    <img
      src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"
      alt=""
  /></mat-tab>
  <mat-tab label="Second"><img src="" alt=""/></mat-tab>
  <mat-tab label="Third">
    Maps
    <app-widget-maps></app-widget-maps>
  </mat-tab>
</mat-tab-group>
