<p>
  <span matBadge="{{ numPosts }}" matBadgeOverlap="false"
    >Num. Of Messages</span
  >
</p>

<div class="">
  <p>
    <mat-button-toggle-group
      appearance="legacy"
      name="fontStyle"
      class="categoria"
      (change)="handelSearch($event)"
    >
      <mat-button-toggle value="tech">Tech</mat-button-toggle>
      <mat-button-toggle value="hw">HW</mat-button-toggle>
      <mat-button-toggle value="sw">SW</mat-button-toggle>
      <mat-button-toggle selected value="all">All</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</div>

<div class="container">
  <div class="post" *ngFor="let post of arrPost">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image [src]="post.imagen" alt="Photo" />
        </div>
        <div class="posicion">
          <mat-card-title>{{ post.autor }}</mat-card-title>
          <mat-card-subtitle>{{ post.titulo }}</mat-card-subtitle>
        </div>
        <div class="example-button-row">
          <button
            mat-icon-button
            color="basic"
            aria-label="Example icon-button with a heart icon"
          >
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <img mat-card-image [src]="post.imagen" alt="Photo" />
      <mat-card-content>
        <h4>{{ post.categoria }}</h4>
        <p>
          {{ post.texto }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <p>{{ post.fecha }}</p>
        <button mat-raised-button color="warn" (click)="handelDelete(post.id)">
          Borrar
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
