.container {
  display: flex;

  flex-wrap: wrap;
}
img {
  display: block;
  width: 100%;
}

.post {
  text-align: center;
  margin-top: 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  width: 100%;
}
.imagen {
  border-top-left-radius: 4px;
  border-radius: 4px;
  width: 30%;
  padding-left: 20px;
}
