<p>
  <span matBadge="{{ numPosts }}" matBadgeOverlap="false"
    >Num. Of Messages</span
  >
</p>
<p>
  {{ responseMsg }}
</p>

<div class="">
  <p>
    <mat-button-toggle-group
      appearance="legacy"
      name="fontStyle"
      class="categoria"
      (change)="handelSearch($event)"
    >
      <mat-button-toggle value="general">General</mat-button-toggle>
      <mat-button-toggle value="departament">Departament</mat-button-toggle>
      <mat-button-toggle value="Order/Product">Order/Product</mat-button-toggle>
      <mat-button-toggle value="Customers">Customers</mat-button-toggle>
      <mat-button-toggle value="Suppliers">Suppliers</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</div>

<div class="">
  <div class="post row " *ngFor="let post of arrPost">
    <mat-card class="example-card col-12">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img mat-card-image [src]="post.autorId" alt="Photo" />
        </div>
        <div class="posicion">
          <mat-card-title>User: {{ post.autor }}</mat-card-title>
          <mat-card-subtitle>Title: {{ post.titulo }}</mat-card-subtitle>
        </div>
        <div class="example-button-row"></div>
      </mat-card-header>

      <mat-card-content class="row">
        <div class="imagen">
          <img mat-card-image [src]="post.imagen" alt="Photo" />
        </div>
        <div>
          <h4>Category: {{ post.categoria }}</h4>
          <p>Messages: {{ post.texto }}</p>
          <mat-card-actions>
            <p>date: {{ post.fecha | date }}</p>
            <p>Message Id: {{ post.id }}</p>
            <button
              mat-raised-button
              color="warn"
              (click)="handelDelete(post.id)"
            >
              Delete
            </button>
            <button mat-raised-button color="accent" (click)="handelEdit(post)">
              Response
            </button>
          </mat-card-actions>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
