<mat-nav-list>
  <a mat-list-item (click)="openLink($event)" id="5">
    <span mat-line style="color: black; text-align: center;">Africa</span>
  </a>
  <a mat-list-item (click)="openLink($event)" id="4">
    <span mat-line style="color: rgba(54, 54, 13, 0.788); text-align: center;"
      >America</span
    >
  </a>

  <a mat-list-item (click)="openLink($event)" id="3">
    <span mat-line style="color: rgba(20, 63, 92, 0.781); text-align: center;"
      >Oceania</span
    >
  </a>

  <a mat-list-item (click)="openLink($event)" id="2">
    <span mat-line style="color: rgb(12, 63, 21); text-align: center;"
      >Asia</span
    >
  </a>
  <a mat-list-item (click)="openLink($event)" id="1">
    <span mat-line style="color: rgb(46, 12, 12); text-align: center;"
      >Europa</span
    >
  </a>
</mat-nav-list>
