<div class="all" *ngIf="lat && lng">
  <agm-map
    style="height: 200px;"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapClick)="mapClick($event)"
    (mapDblClick)="mapDobleClick($event)"
  >
    <agm-marker [latitude]="lat" [longitude]="lng">
      <agm-info-window>
        <div class="image">
          <img class="avatar" src="{{ employee.photo }}" alt="" />
        </div>
        <h3>{{ employee.name }}</h3>
        <p>You are Here!</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
